{% extends 'App/base.html' %}
{% load static %}

{% block content %}


<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            {% if gender == "man" %}
            <a class="text-dark" href=""><h1 class="h2 pb-4">Mężczyźni</h1></a>
            {% else %}
            <a class="text-dark" href=""><h1 class="h2 pb-4">Kobiety</h1></a>
            {% endif %}
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Kategoria
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                            {% for category in categories %}
                            <li><a href="{% url 'products_category' gender=gender category=category|slugify  %}">{{category.name}}</a></li>
                            {% endfor %}    
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <form method="GET" action="{% url 'products_gender' gender=gender %}">
                <div class="form-group row">
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select name="order_by" class="form-control">
                            <option value="title">Alfabetycznie</option>
                            <option value="price">Cena: Rosnąco</option>
                            <option value="-price">Cena: Malejąco</option>
                        </select>
                        <button type="submit" class="input-group-text bg-success text-light ml-1">
                            <i class="fa fa-fw fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </form>
            <div class="row">
                {% for item in products %}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <a href="{% url 'product' item.slug %}"><div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" style="height:300px;" src="{{item.main_img.url}}">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="{% url 'product' item.slug %}"><i class="far fa-eye"></i></a></li>
                                    <li><button id="add_single_item_to_cart" data="{{item.slug}}" class="btn btn-success text-white mt-2"><i class="fas fa-cart-plus"></i></button></li>
                                </ul>
                            </div>
                        </div></a>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">{{item.title}}</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                {% for d in item.item_variant.all %}
                                
                                {% if d.size == None %}
                                Rozmiar uniwersalny
                                {% elif d.amount_in_stock < 1 %}
                                {% else %}
                                {{d.size}}
                                {% endif %}
                                {% endfor %}

                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0">{{item.price}} pln</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>      
    </div>
</div>
</div>
<!-- End Content -->


{% endblock %}
